@using LogicInterfaces

@{
    ViewBag.Title = "Leaderboards";
}

@section Scripts{
    @Scripts.Render("/Scripts/Leaderboards.js")
}

@section Styles{
    @Styles.Render("/Content/Leaderboards.css")
}

<!-- Leaderboard Buttons -->
<div class="row">
    <div class="flex-grow-1"></div>

    <div class="col-sm-4">
        <button class="btn btn-primary global-leaderboard-btn" type="button" disabled="disabled">Global Leaderboard</button>
        <button class="btn btn-primary personal-leaderboard-btn" type="button">Personal Leaderboard</button>
    </div>

    <div class="flex-grow-1"></div>
</div>

<div class="spacing"></div>

<!-- Search Bar -->
<div class="form-row">
    <div class="flex-grow-1"></div>
    <div class="input-group col-sm-8">
        <input type="text" class="form-control search-bar-input" placeholder="Search Here..." />
    </div>
    <div class="flex-grow-1"></div>
</div>

<div class="spacing"></div>

<!-- Leaderboard -->
<div class="row">
    <div class="flex-grow-1"></div>

    <div class="card col-sm-5 leaderboard">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Global List Group -->
                    <ul class="list-group list-group-flush text-sm-center global-list-group">
                            @foreach (ILeaderboardEntry iEntry in Model.GlobalLeaderboardEntries)
                            {
                                <!-- Global Entries -->
                                <li class="list-group-item">
                                    <!-- Global Position -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="/Account/AccountInfo">#@iEntry.Position - @iEntry.Username</a>
                                        </div>
                                    </div>
                                    <!-- Score -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (iEntry.Position == 1)
                                            {
                                                <p class="number-one-position">@iEntry.Score Points</p>
                                            }
                                            else if (iEntry.Position == 2)
                                            {
                                                <p class="number-two-position">@iEntry.Score Points</p>
                                            }
                                            else if (iEntry.Position == 3)
                                            {
                                                <p class="number-three-position">@iEntry.Score Points</p>
                                            }
                                            else
                                            {
                                                <p>@iEntry.Score Points</p>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                    </ul>
                    <!-- Personal List Group (default hidden) -->
                    <ul class="list-group list-group-flush text-sm-center personal-list-group hidden">
                        @for (int i = 0; i < Model.PersonalLeaderboardEntries.Count; i++)
                        {
                            <!-- Personal Entries -->
                            <li class="list-group-item">
                                <!-- Personal Position -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>#@(i + 1)</p>
                                    </div>
                                </div>
                                <!-- Score -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (Model.PersonalLeaderboardEntries[i].Position == 1)
                                        {
                                            <p class="number-one-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.PersonalLeaderboardEntries[i].Position == 2)
                                        {
                                            <p class="number-two-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.PersonalLeaderboardEntries[i].Position == 3)
                                        {
                                            <p class="number-three-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else
                                        {
                                            <p>@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1"></div>
</div>