@using Project___Website.Models

@{
    ViewBag.Title = "Account-Info-" + Model.ID;
}

@section Styles{
    @Styles.Render("/Content/AccountInfo.css")
}

<!-- Top Section -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- User Name -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>@Model.Username</h4>
                    </div>
                </div>

                <hr />

                <!-- User Highest Global Ranking-->
                <div class="row">
                    <div class="col-sm-4">
                        <p>Highest Global Leaderboard Position:</p>
                    </div>
                    <div class="col-sm-2">
                        @if (Model.PersonalLeaderboardEntries.Count > 0)
                        {
                            <strong>#@Model.PersonalLeaderboardEntries[0].Position - @Model.PersonalLeaderboardEntries[0].Score Points</strong>
                        }
                        else
                        {
                            <strong>None...</strong>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacing"></div>

<!-- Leaderboard and Enemy Info -->
<div class="row">
    <!-- Leaderboard -->
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <!-- Leaderboard Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Personal Leaderboard</h4>
                    </div>
                </div>

                <div class="spacing"></div>

                <!-- Leaderboard Entry List -->
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group scroll-list">
                            @for (int i = 0; i < Model.PersonalLeaderboardEntries.Count; i++)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>#@(i + 1)</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (Model.PersonalLeaderboardEntries[i].Position == 1)
                                            {
                                                <p class="text-sm-right number-one-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                            }
                                            else if (Model.PersonalLeaderboardEntries[i].Position == 2)
                                            {
                                                <p class="text-sm-right number-two-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                            }
                                            else if (Model.PersonalLeaderboardEntries[i].Position == 3)
                                            {
                                                <p class="text-sm-right number-three-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                            }
                                            else
                                            {
                                                <p class="text-sm-right">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1"></div>

    <!-- Enemy Info List -->
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <!-- Enemy List Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Enemy List</h4>
                    </div>
                </div>

                <div class="spacing"></div>

                <!-- Enemy List -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="list-group scroll-list">
                            @foreach(EnemyViewModel enemy in Model.PersonalEnemies)
                            {
                                <a class="list-group-item list-group-item-action" href="/Bestiary/Bestiary/@enemy.ID">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h6>@enemy.Name</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <b>@enemy.CreatorName</b>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>