@using Project___Website.Models;

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    @Scripts.Render("/Unity/Build/UnityLoader.js")
    @Scripts.Render("/Scripts/Index.js")
}

@section Styles{
    @Styles.Render("/Content/Index.css")
}

<div class="spacing"></div>

<!-- Game Row -->
<div class="row">
    <div class="col-sm-12">
        <div id="gameContainer"></div>
    </div>
</div>

<div class="spacing"></div>

<!-- Leaderboard Rows -->
<div class="row">
    <!-- Global Leaderboard (left) -->
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Global Leaderboard Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-sm-center">Global Top 5</h5>
                </div>
            </div>

            <div class="spacing"></div>

            <!-- Global Leaderboard Entry List -->
            <div class="row leaderboards-row">
                <div class="col-sm-12">
                    <ul class="list-group align-content-center">
                        @for (int i = 0; i < Model.GlobalLeaderboardEntries.Count; i++)
                        {
                            if(i >= 5)
                            {
                                break;
                            }

                            <li class="list-group-item leaderboard-entry">
                                <!-- Username -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="/Account/AccountInfo/@Model.GlobalLeaderboardEntries[i].ID">#@Model.GlobalLeaderboardEntries[i].GlobalPosition - @Model.GlobalLeaderboardEntries[i].Username</a>
                                    </div>
                                </div>
                                <!-- Scores -->
                                <div class="row leaderboard-entry-score-row">
                                    <div class="col-sm-12">
                                        @if (Model.GlobalLeaderboardEntries[i].GlobalPosition == 1)
                                        {
                                            <p class="text-sm-right number-one-position">@Model.GlobalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.GlobalLeaderboardEntries[i].GlobalPosition == 2)
                                        {
                                            <p class="text-sm-right number-two-position">@Model.GlobalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.GlobalLeaderboardEntries[i].GlobalPosition == 3)
                                        {
                                            <p class="text-sm-right number-three-position">@Model.GlobalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else
                                        {
                                            <p class="text-sm-right">@Model.GlobalLeaderboardEntries[i].Score Points</p>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1"></div>

    <!-- Personal Leaderboard (right) -->
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Personal Leaderboard Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-sm-center">Personal Top 5</h5>
                </div>
            </div>

            <div class="spacing"></div>

            <!-- Personal Leaderboard Entry List -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        @for (int i = 0; i < Model.PersonalLeaderboardEntries.Count; i++)
                        {
                            if(i >= 5)
                            {
                                break;
                            }

                            <li class="list-group-item">
                                <!-- Personal Position -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>#@(i + 1)</p>
                                    </div>
                                </div>
                                <!-- Global Position -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>#@Model.PersonalLeaderboardEntries[i].GlobalPosition</b>
                                    </div>
                                </div>
                                <!-- Score -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (Model.PersonalLeaderboardEntries[i].GlobalPosition == 1)
                                        {
                                            <p class="text-sm-right number-one-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.PersonalLeaderboardEntries[i].GlobalPosition == 2)
                                        {
                                            <p class="text-sm-right number-two-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.PersonalLeaderboardEntries[i].GlobalPosition == 3)
                                        {
                                            <p class="text-sm-right number-three-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else
                                        {
                                            <p class="text-sm-right">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>