@using LogicInterfaces

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    @Scripts.Render("/Unity/Build/UnityLoader.js")
    @Scripts.Render("/Scripts/Index.js")
}

@section Styles{
    @Styles.Render("/Content/Index.css")
}

<div class="spacing"></div>

<!-- Game Row -->
<div class="row">
    <div class="col-sm-12">
        <div id="gameContainer"></div>
    </div>
</div>

<div class="spacing"></div>

<!-- Leaderboard Rows -->
<div class="row">
    <!-- Global Leaderboard (left) -->
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Global Leaderboard Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-sm-center">Global Leaderboard</h5>
                </div>
            </div>

            <div class="spacing"></div>

            <!-- Global Leaderboard Entry List -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group align-content-center">
                        @foreach(ILeaderboardEntry iEntry in Model.GlobalLeaderboardEntries)
                        {
                            <li class="list-group-item">
                                <!-- Username -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="/Home/UserInfo"># @iEntry.Position - @iEntry.Username</a>
                                    </div>
                                </div>
                                <!-- Scores -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (iEntry.Position == 1)
                                        {
                                            <p class="text-sm-right number-one-position">@iEntry.Score Points</p>
                                        }
                                        else if (iEntry.Position == 2)
                                        {
                                            <p class="text-sm-right number-two-position">@iEntry.Score Points</p>
                                        }
                                        else if (iEntry.Position == 3)
                                        {
                                            <p class="text-sm-right number-three-position">@iEntry.Score Points</p>
                                        }
                                        else
                                        {
                                            <p class="text-sm-right">@iEntry.Score Points</p>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1"></div>

    <!-- Personal Leaderboard (right) -->
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Personal Leaderboard Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-sm-center">Personal Leaderboard</h5>
                </div>
            </div>

            <div class="spacing"></div>

            <!-- Personal Leaderboard Entry List -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        @for (int i = 0; i < Model.PersonalLeaderboardEntries.Count; i++)
                        {
                            <li class="list-group-item">
                                <!-- Personal Position -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p># @(i + 1)</p>
                                    </div>
                                </div>
                                <!-- Score -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if (Model.PersonalLeaderboardEntries[i].Position == 1)
                                        {
                                            <p class="text-sm-right number-one-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.PersonalLeaderboardEntries[i].Position == 2)
                                        {
                                            <p class="text-sm-right number-two-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else if (Model.PersonalLeaderboardEntries[i].Position == 3)
                                        {
                                            <p class="text-sm-right number-three-position">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                        else
                                        {
                                            <p class="text-sm-right">@Model.PersonalLeaderboardEntries[i].Score Points</p>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>