@using Project___Website.Models

@{
    ViewBag.Title = "Bestiary";
}

@section Scripts{
    @Scripts.Render("/Unity/Build/UnityLoader.js")
    @Scripts.Render("/Scripts/Bestiary.js")
}

@section Styles{
    @Styles.Render("/Content/Bestiary.css")
}

<div class="row">
    <!-- Enemy Information -->
    <div class="card col-sm-8">
        <div class="card-body">
            <h5 class="card-title">Enemy 1</h5>
            <a class="card-text user-text" href="/Account/AccountInfo">User 1</a>
            <hr />
            <div class="col-sm-12">
                <div id="gameContainer" hidden></div>
            </div>
        </div>
    </div>

    <!-- Search Bar & Enemy List-->
    <div class="flex-grow-1"></div>
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Search Bar -->
            <div class="input-group">
                <input type="text" class="form-control search-bar-input" placeholder="Search Here..." />
            </div>

            <div class="spacing"></div>

            <!-- The list of enemies and their creator users -->
            <div class="list-group list-group-flush list-set-height bestiary-list-group">
                @for (int i = 0; i < Model.Enemies.Count; i++)
                {
                    if (i == 0)
                    {
                        <button type="button" class="btn-tall list-group-item list-group-item-action enemy-btn active">
                            <h6>@Model.Enemies[i].Name</h6>
                            <b>@Model.Enemies[i].CreatorUsername</b>
                            <p class="enemy-id" hidden>@Model.Enemies[i].ID</p>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn-tall list-group-item list-group-item-action enemy-btn">
                            <h6>@Model.Enemies[i].Name</h6>
                            <b>@Model.Enemies[i].CreatorUsername</b>
                            <p class="enemy-id" hidden>@Model.Enemies[i].ID</p>
                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>