<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <!-- Title Row -->
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-sm-center">Thingy</h3>
            </div>
        </div>

        <div class="spacing"></div>

        <!-- Navbar Row -->
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav col-sm-12">
                            <li class="nav-item active col-sm-3">
                                <a class="nav-link text-sm-center" href="~/Home/Index">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item col-sm-3">
                                <a class="nav-link text-sm-center" href="~/Home/Leaderboards">Leaderboards</a>
                            </li>
                            <li class="nav-item col-sm-3">
                                <a class="nav-link text-sm-center" href="~/Home/Bestiary">Bestiary</a>
                            </li>
                            <li class="nav-item col-sm-3">
                                <a class="nav-link text-sm-center" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="spacing"></div>

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/poppermin")
    @Scripts.Render("~/bundles/jqueryslim")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
